/*div#map
{
	display: block;
	width: 685px;
	height: 417px;
	margin: 0 auto;
  background-image: url('../images/map_colored.png');
}*/

#mapWrap{
    float:right;
}
#filterBar{
    float:left;
    margin-left: 20px;
}
#filterContainer{
    align: left;
}
.right{
    text-align:right
}
#searchTable{
    margin-top: 20px;
    border: 0
}
div#container{
  width: 60%;
  margin: 0 auto;
}

#main {
	margin: auto;
  margin-top: 2px;
	/*background: lightblue;*/
}



.wrapper {
    margin: 0 5%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.header-container {
    background: #FFB973;
}

.filterContainer {
    margin: 5px;
}
