
div#container{
  width: 60%;
  margin: 0 auto;
}

#main {
	margin: auto;
  margin-top: 2px;
  width: 90%;
	/*background: lightblue;*/
}

header {
    margin: 0 5%;
}

header h1 {
    display: inline-block;
}

.header-container {
    background: #FFB973;
    padding: .025%;
}

.header-container #loginAcknowledge {
    float: right;
    font-size: 18px;
    margin: 0.67em 0;
}

#filterBar {
    float: left;
}

.filterContainer {
    margin: 5px;
}
