/*div#map
{
	display: block;
	width: 685px;
	height: 417px;
	margin: 0 auto;
  background-image: url('../images/map_colored.png');
}*/

div#container{
  width: 60%;
  margin: 0 auto;
}

#main {
	margin: auto;
  margin-top: 2px;
  width: 90%;
	/*background: lightblue;*/
}



.wrapper {
    width: 40%;
    margin: 0 5%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.header-container {
    background: #FFB973;
}

.filterContainer {
    margin: 5px;
}
